numpy
func_timeout
tqdm
torch==2.4.0
torchvision==0.19.0
python-dotenv
sqlglot
pandas
langchain==0.2.12
langchain-chroma
langchain-openai
langchain-core
langchain-huggingface==0.0.3
langchain-google-genai
langchain-anthropic
sentence-transformers==3.0.1
datasketch==1.6.4
ms-swift==2.3.1
langgraph
httpx[socks]
streamlit
retry
tabulate
stqdm
loguru
xformers